body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
/* !------------------------------- SECTION CSS VARIABLES STARTS------------------------------ */
:root {
  --main-color: #02ccba;
  --secondary-color: #07bcab;
  --tertiary-color: #ffffff;
  --quaternary-color: ;
  --secondary-font: "Oleo Script Swash Caps", sans-serif;
}
/* *------------------------------- !SECTION CSS VARIABLES ENDS---------------------------- */

/* !------------------------------- SECTION TYPOGRAPHY STARTS ------------------------------- */
.text-lvl-primary {
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}
.text-lvl-secondary {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.text-lvl-tertiary {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}
.text-lvl-quaternary {
}
.text-lvl-quinary {
}
.text-lvl-senary {
}
.para {
  font-size: 20px;
  font-weight: 400;
}
.para--custom {
}

/* *------------------------------- !SECTION TYPOGRAPHY ENDS ------------------------------- */

/* !--------------------- SECTION SECTION REUSEABLE BLOCK -------------------- */

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 35px;
  color: var(--tertiary-color);
  text-transform: capitalize;
}
.button:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}
.button--blue {
  background: var(--main-color);
}
.button--blue:hover {
  background: var(--secondary-color);
}

/* *--------------------- SECTION SECTION REUSEABLE BLOCK -------------------- */

/* !----------------------- SECTION SECTION HERO STATS ----------------------- */

.section-hero {
  background-image: linear-gradient(to right, #a962f0, #6c62e4, #4cafd4);
}
.section-hero__title-container {
  padding-top: 200px;
  padding-bottom: 30px;
}
.section-hero__button-container {
  padding-top: 20px;
  padding-bottom: 180px;
}
/* *----------------------- SECTION SECTION HERO STATS ----------------------- */

/* !--------------------- SECTION SECTION ABOUT US STARTS -------------------- */

.section-about {
  padding: 100px 0;
}
.section-about__title-container {
  padding-bottom: 50px;
}
.section-about__para-container {
  padding-bottom: 30px;
}

/* *--------------------- SECTION SECTION ABOUT US ENDS -------------------- */
