body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
/* !------------------------------- SECTION CSS VARIABLES STARTS------------------------------ */
:root {
  --main-color: #02ccba;
  --secondary-color: #07bcab;
  --tertiary-color: #fafafa;
  --quaternary-color: #ffffff;
  --secondary-font: "Oleo Script Swash Caps", sans-serif;
}
/* *------------------------------- !SECTION CSS VARIABLES ENDS---------------------------- */

/* !------------------------------- SECTION TYPOGRAPHY STARTS ------------------------------- */
.text-lvl-primary {
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}
.text-lvl-secondary {
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
.text-lvl-tertiary {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
}
.text-lvl-quaternary {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.text-lvl-quinary {
}
.text-lvl-senary {
}
.para {
  font-size: 20px;
  font-weight: 400;
}
.para--custom {
  font-size: 16px;
  font-weight: 400;
}
.para-overlay {
  font-size: 14px;
  font-weight: 400;
}
/* *------------------------------- !SECTION TYPOGRAPHY ENDS ------------------------------- */

/* !--------------------- SECTION SECTION REUSEABLE BLOCK -------------------- */

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 35px;
  color: var(--quaternary-color);
  text-transform: capitalize;
}
.button:hover {
  text-decoration: none;
  color: var(--quaternary-color);
}
.button--blue {
  background: var(--main-color);
}
.button--blue:hover {
  background: var(--secondary-color);
}
.icon--custom {
  font-size: 26px;
  padding-bottom: 15px;
}
/* *--------------------- SECTION SECTION REUSEABLE BLOCK -------------------- */

/* !----------------------- SECTION SECTION HERO STATS ----------------------- */

.section-hero {
  background-image: linear-gradient(to right, #a962f0, #6c62e4, #4cafd4);
}
.section-hero__title-container {
  padding-top: 200px;
  padding-bottom: 30px;
}
.section-hero__button-container {
  padding-top: 20px;
  padding-bottom: 180px;
}
/* *----------------------- SECTION SECTION HERO STATS ----------------------- */

/* !--------------------- SECTION SECTION ABOUT US STARTS -------------------- */

.section-about {
  padding: 100px 0;
}
.section-about__title-container {
  padding-bottom: 50px;
}
/* *--------------------- SECTION SECTION ABOUT US ENDS -------------------- */

/* !--------------------- SECTION SECTION SERVICES STARTS -------------------- */

.section-services {
  background: var(--tertiary-color);
  padding: 100px 0;
}
.section-services__card-body {
  position: relative;
  background: #02b3e4;
}
.section-services__card-body:hover .section-services__overlay-container {
  opacity: 1;
}
.section-services__overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #474747;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding-top: 20px;
  padding-bottom: 62px;
}
.section-services__content-container {
  padding-top: 60px;
  padding-bottom: 80px;
}
.card-2 {
  background: #02ccba;
}
.card-3 {
  background: #02bed2;
}
.section-heading--custom {
  padding-bottom: 20px;
}
/* *--------------------- !SECTION SECTION SERVICES ENDS -------------------- */

/* !-------------------- SECTION SECTION PORTFOLIO STARTS -------------------- */

.section-portfolio__content-container {
  position: relative;
}
.section-portfolio__content-container:hover
  .section-portfolio__overlay-container {
  opacity: 1;
}
.section-portfolio__overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 37px 5px;
}
.text--custom {
  font-size: 22px;
}
.section-portfolio__para-container,
.section-portfolio__icon-container {
  padding-bottom: 10px;
}
/* *-------------------- SECTION SECTION PORTFOLIO ENDS -------------------- */
